@font-face {
  font-family: "SpaceRanger";
  src: local("SpaceRanger"), url("./fonts/SpaceRangerLaserItalic-copy.ttf") format("truetype");
  font-weight: bold;
}

h1 {
  font-family: "SpaceRanger";
}
navbar { font-family:SpaceRanger !important; }

.navbar {
  font-family: "SpaceRanger" !important;
}

body {
  background-color: #0b0b0b;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
} 
.video-container video {
  /* height: 125%;
  min-width: 100%; */
  /* object-fit: fill; */
  height: 100%;
  width: 100%;
}

/* .section h1 {
  position: absolute;
  text-align: center;
  font-size: 6rem;
  background: transparent;
  margin: 15px;
  z-index: 1;
  color: white;
  font-family: "SpaceRanger";
  display: flex;
} */

#navbar {
  color: white;
}