@font-face {
  font-family: "SpaceRanger";
  src: local("SpaceRanger"), url("./fonts/SpaceRangerLaserItalic-copy.ttf") format("truetype");
  font-weight: bold;
}

h1 {
  font-family: "SpaceRanger";
}
